fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic[email]
pydantic-settings
python-dotenv
alembic
httpx
africastalking
fastapi-mail
python-multipart
emails
python-slugify
stripe
