fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic[email]
pydantic-settings
python-dotenv
alembic
httpx
emails
python-slugify
stripe
paystack-python
